#!/usr/bin/env bash
set -euo pipefail

# This will be supported in the future
export NIX_USER_CONF_FILES=$PWD/etc/nix.conf
export TMPDIR="/tmp/zarf"

mkdir -p $TMPDIR

if ! nix flake info &>/dev/null; then
  echo "This environment needs Nix flakes edition" >&2
  exit 1
fi

watch_file flake.lock
watch_file flake.nix
mkdir -p "$(direnv_layout_dir)"

# PATH_add result/bin

use flake .
