name: Update lock
on:
  workflow_dispatch:
  schedule:
    # At 02:00 on Monday
    - cron: '0 2 * * 1'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Configure git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Setup gitsign
      uses: chainguard-dev/actions/setup-gitsign@df684a72f67ce7eecd78098365cb5057f16be3b1 # v1.4.8

    - name: Install nix
      uses: DeterminateSystems/nix-installer-action@90bb610b90bf290cad97484ba341453bd1cbefea # v19

    - name: Update flake
      run: |
        nix flake update

    - name: Commit & Push changes
      uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5 # v1.5
      with:
        branch: 'main'
        message: "chore(flake): bump inputs"
        github_token: ${{ secrets.GITHUB_TOKEN }}
