name: Update lock
on:
  workflow_dispatch:
  schedule:
    # At 02:00 on Monday
    - cron: '0 2 * * 1'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Configure git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Setup gitsign
      uses: chainguard-dev/actions/setup-gitsign@94249a4828defae94ef3eaeaafaff2f95f1b446f # v1.5.6

    - name: Install nix
      uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20

    - name: Update flake
      run: |
        nix flake update

    - name: Commit & Push changes
      uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5 # v1.5
      with:
        branch: 'main'
        message: "chore(flake): bump inputs"
        github_token: ${{ secrets.GITHUB_TOKEN }}
